@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  color: #333;
  box-sizing: border-box;
}

.signInContainer {
  background-color: #efefee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  background-color: #fff;
  min-height: 300px;
  max-height: 100%;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  padding: 30px;
  overflow-y: auto;
}

.column form {
  display: flex;
  flex-direction: column;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #dedede;
  padding-top: 5px;
}

.column form input[type="submit"] {
  background-color: #4285f4;
  color: #fff;
  height: 30px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin: 20px 0;
  font-size: 16px;
}

.column .header {
  padding: 20px 0;
}

.column h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-top: 16px;
  color: #000;
}

.column .header span {
  font-size: 14px;
}

.column .header img {
  width: 100px;
}

.signInMessage {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.errMessage {
  color: #f00;
  font-size: 14px;
  font-weight: 400;
  text-align: flex-start;
}
